body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
@media (height <= 620px) {
    .main-img {
        width: 300px;
        height: 300px;
    }
}
@media (height <= 360px) {
    .main-img {
        width: 200px;
        height: 200px;
    }
}
.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
}
.nav-item {
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
}
.nav-item-img {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
}
.nav-item:hover {
    cursor: pointer;
}
.main-window {
    background-color: #c9d4b2;
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.main-img {
    margin: auto;
}
.main-details {
    position: relative;
    height: 60px;
    background-color: #c9d4b2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.news-seite {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100px;
    z-index: 100;
}
.news-seite-title {
    position: relative;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.news {
    margin: 30px 2%;
    position: relative;
    min-height: 100px;
}
.news-title {
    position: relative;
    margin: 10px 2%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.news-title span {
    font-size: 15px;
}
.news-description {
    position: relative;
    margin: 10px 2%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    position: relative;
    width: 100%;
    background-color: #c9d4b2;
    height: 50px;
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.footer-content {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
::selection {
    background-color: #c9d4b2;
}