<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindA | Home</title>
    <link rel="stylesheet" href="/Home/style.css" />
    <link rel="icon" href="/Images/FindA Logo Neu.png" />
  </head>
  <body>
    <nav class="nav-bar" id="nav-bar">
      <div class="nav-item" id="home-item">
        <img src="/Images/Black/Home.png" alt="Err" class="item-img" />
      </div>
      <div class="nav-item" id="news-item">
        <img src="/Images/Black/Glocke.png" alt="Err" class="item-img" />
      </div>
      <div class="nav-item" id="contact-item">
        <img src="/Images/Black/Teilen.png" alt="Err" class="item-img" />
      </div>
    </nav>
    <div class="start-up" id="start-up">
      <div class="plain-back">
        <img
          src="/Images/FindA Logo weiss.png"
          alt="Bild konnte nicht geladen werden"
        />
      </div>
      <div class="scrolldown" style="--color: black">
        <div class="chevrons">
          <div class="chevrondown"></div>
          <div class="chevrondown"></div>
        </div>
      </div>
    </div>
    <section id="info-section">
      <div class="section-title">Was ist FindA?</div>
      <div class="section-content">
        FindA: Eine Plattform zur Vermittlung von Ausbildungen und Praktika, die
        wir, Schüler des Windthorst-Gymnasiums Meppen zusammen mit der Firma ncn
        entwickeln, um Unternehmen und Suchende ohne Hemmschwellen
        zusammenzubringen. Um unsere Idee, mit der wir im Bundesfinale des Young
        Economic Summit-Wettbewerbs standen, umzusetzen, brauchen wir Ihre
        Unterstützung, sowohl beratend als auch finanziell. Um ihnen unser
        Projekt näher vorzustellen, würden wir uns gerne mit Ihnen treffen! Mit
        vielen Grüßen das gesamte FindA-Team
      </div>
    </section>
    <section id="showcase-section">
      <img class="showcase-img" src="/Images/Screen1.png" />
      <img class="showcase-img" src="/Images/Screen2.png" />
      <img class="showcase-img" src="/Images/Screen3.png" />
    </section>
    <section id="contact-section">
      <div class="section-title">Kontakt</div>
      <div class="section-content">
        Falls Sie einerseits Fragen zu unsere App haben, oder Ihre finanzielle
        Unterstützung anbieten wollen, um die Programmierung zu stemmen,
        kontaktieren Sie uns gerne.
      </div>
      <button
        onclick="window.location.href='mailto:finda@windthorstgymnasium.de'"
        class="button"
      >
        <span class="button-text">Schreib uns</span>
      </button>
    </section>
    <footer>
      <p>© FindA 2023</p>
    </footer>
    <script src="/Home/script.js"></script>
  </body>
</html>
