<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindA | Neuigkeiten</title>
    <link rel="stylesheet" href="/News/style.css" />
    <link rel="icon" href="/Images/FindA Logo Rund.png" />
  </head>
  <body>
    <nav class="nav-bar" id="nav-bar">
      <div class="nav-item" id="home-item">
        <img src="/Images/Black/Home.png" alt="Err" class="item-img" />
      </div>
      <div class="nav-item" id="news-item">
        <img src="/Images/Black/Glocke.png" alt="Err" class="item-img" />
      </div>
      <div class="nav-item" id="contact-item">
        <img src="/Images/Black/Teilen.png" alt="Err" class="item-img" />
      </div>
    </nav>
    <div class="main-window" id="main-window">
      <img class="main-img" id="main-img" src="/Images/FindA Logo Rund.png" />
    </div>
    <div class="news-window" id="news-window">
      <div class="news-window-title">Neuigkeiten</div>
      <div class="news" id="news-start">
        <div class="news-title">
          Start des Newsletters <span class="news-date">(20.05.2023)</span>
        </div>
        <div class="news-details">
          Dies ist der offizielle Start des Newsletters der FindA App. Ab dem
          heutigen Tag kommen regelmäßig Updates.
        </div>
      </div>
    </div>
    <footer class="footer" id="footer">
      <div class="footer-content">© FindA 2023</div>
    </footer>
    <script src="/News/script.js"></script>
  </body>
</html>
