@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mulish&family=Rubik&family=Source+Code+Pro&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
@media (height <= 620px) {
  .main-img {
    width: 300px;
    height: 300px;
  }
}
@media (height <= 360px) {
  .main-img {
    width: 200px;
    height: 200px;
  }
}
/* Nav */

.nav-bar {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
  background-color: transparent;
}
.nav-item {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item:hover {
  cursor: pointer;
}

.main-window {
  background: linear-gradient(
    135deg,
    hsla(215, 77%, 90%, 1) 0%,
    hsla(215, 90%, 73%, 1) 39%,
    hsla(11, 61%, 44%, 1) 92%
  );
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.main-img {
  margin: auto;
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.news-window {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: white;
}
.news-window-title {
  margin: 5% 0 0 5%;
  font-size: 35px;
  font-family: "Rubik";
  position: relative;
}
.news {
  width: 95%;
  margin: 30px 2.5%;
  min-height: 100px;
  border: solid black 0.5px;
  position: relative;
}
.news-title {
  position: relative;
  margin: 2%;
  font-family: "Rubik";
  font-size: 25px;
}
.news-date {
  position: relative;
  font-size: 15px;
  font-family: "Rubik";
}
.news-details {
  position: relative;
  margin: 0 2% 2% 2%;
  font-size: 20px;
  font-family: "Rubik";
}
.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(
    135deg,
    hsla(215, 77%, 90%, 1) 0%,
    hsla(215, 90%, 73%, 1) 39%,
    hsla(11, 61%, 44%, 1) 92%
  );
  height: 50px;
  margin-top: 6%;
  display: flex;
  justify-content: center;
}
.footer-content {
  font-family: "Rubik";
  margin: auto;
}
